absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
async-timeout
attrs
Automat
babel
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
configobj
constantly
cryptography
datasets
debugpy
decorator
defusedxml
dill
docstring-parser
entrypoints
eval-type-backport
evaluate
exceptiongroup
executing
fastjsonschema
filelock
flask
frozenlist
fsspec
google-auth
google-auth-oauthlib
grpcio
h11
httpcore
httplib2
httpx
huggingface-hub
hyperlink
idna
imagesize
importlib-metadata
importlib-resources
incremental
ipykernel
ipython
ipywidgets
itsdangerous
jedi
jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
launchpadlib
lazr.restfulclient
lazr.uri
lightning-utilities
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
more-itertools
mpmath
multidict
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
oauthlib
omegaconf
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pkgutil-resolve-name
platformdirs
prometheus-client
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pygments
pyOpenSSL
pyparsing
pyrsistent
pyserial
pytesseract
pytorch-lightning
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-unixsocket
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
SecretStorage
Send2Trash
seqeval
service-identity
shtab
simplejson
six
sniffio
sos
soupsieve
ssh-import-id
stack-data
sympy
tensorboard
tensorboard-data-server
terminado
threadpoolctl
tinycss2
tokenizers
tomli
tornado
tqdm
traitlets
transformers
trl
Twisted
typeguard
typing-extensions
tyro
tzdata
urllib3
wadllib
wcwidth
webencodings
websocket-client
werkzeug
widgetsnbextension
xxhash
yarl
zipp
zope.interface
