{% extends "layout.html" %}

{% block title %}
    Create a New Table  
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/labelBoxes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addFieldWithFixedName.js') }}"></script>
{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <div class="content">
                <div class="image-container" style="position: static; max-height: 75vh; overflow-y: hidden;">
                    <img id="Preview" src="/uploads/{{name}}" style="position: absolute; max-height: 100%;">
                    <canvas id="LabelPreview" style="position: absolute; z-index: 1;"></canvas>
                    <div id="PreviewButtons" style="position: relative;">
                        <button onclick="clearlabel">Clear</button>
                        <button onclick="() => drawAllBoxes('{{name}}')">All</button>
                        <button onclick="() => drawLinkedBoxes('{{name}}')">Linked</button>
                        <form id="uploadFileForm" onsubmit="uploadFile">
                            <input type=file name=file>
                            <input type=submit value=Replace>
                        </form>
                    </div>
                </div>
                <div class="form-container" >
                    <form method="POST">
                        <label for="table_name">Table Name:</label>
                        <input type="text" id="table_name" name="table_name" required value="{{table_name}}" disabled><br><br>   
                        <div id="fields-container">
                            <!-- Fields will be added dynamically here -->
                        </div>
                        </div>
                        {% for key, value in new_key_val.items() %}
                            <script>addField('{{key}}', '{{value}}')</script>
                        {% endfor %}  
                        <button type="submit">Modify Data</button>
                        <button type="submit">Modify Data</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        drawLinkedBoxes("{{ name }}")
        drawLinkLines("{{ name }}")
    </script>
    <script>
        async function uploadFile(){
            const form = document.getElementById("uploadFileForm");
            const formData = new FormData(form);
            var filename;
            for ([key, value] of form_data.entries()) {
                let val;
                if (value instanceof File) {
                    val = value.name;
                    filename = value.name;
                } else {
                    val = value;
                }
                console.log(key + ': ' + val);
            }
            try {
                const response = await fetch("{{ url_for('upload_file') }}", {
                    method: "POST",
                    // Set the FormData instance as the request body
                    body: formData,
                });
                console.log(response);
                return filename
            } catch (e) {
                console.error(e);
            }
        }
        function uploadAndPreview(){
            uploadFile().then((filename) => {
                MLResults = undefined;
                clearlabel();
                const img = document.getElementById("Preview");
                img.src = "/uploads/" + filename;
                drawLinkedBoxes(filename);
                drawLinkLines(filename);
            })
        }
    </script>
    <script>
        drawLinkedBoxes("{{ name }}")
        drawLinkLines("{{ name }}")
    </script>
    <script>
        async function uploadFile(){
            const form = document.getElementById("uploadFileForm");
            const formData = new FormData(form);
            var filename;
            for ([key, value] of form_data.entries()) {
                let val;
                if (value instanceof File) {
                    val = value.name;
                    filename = value.name;
                } else {
                    val = value;
                }
                console.log(key + ': ' + val);
            }
            try {
                const response = await fetch("{{ url_for('upload_file') }}", {
                    method: "POST",
                    // Set the FormData instance as the request body
                    body: formData,
                });
                console.log(response);
                return filename
            } catch (e) {
                console.error(e);
            }
        }
        function uploadAndPreview(){
            uploadFile().then((filename) => {
                MLResults = undefined;
                clearlabel();
                const img = document.getElementById("Preview");
                img.src = "/uploads/" + filename;
                drawLinkedBoxes(filename);
                drawLinkLines(filename);
            })
        }
    </script>
{% endblock %}
