{% extends "layout.html" %}

{% block title %}
    View {{ cert_name }} MEC 
{% endblock %}

{% block content %}
    <body>
        <h2 class="page-header">{{ cert_name }} MEC Table</h2>
        {% if rows|length %}
        <div class='table-container'>
            <table>
                <thead>
                    <tr>
                        {% for column in rows[0]._fields %}
                            <th>{{ column }}</th>
                        {% endfor %}
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for column in row %}
                                <td>{{ column }}</td>
                            {% endfor %}
                            <td><a href="/view_cert_table/{{table_name}}/{{cert_name}}/{{row[2]}}" class="button">View / Update</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="additional-section">
            <a href="/add_cert_table/{{table_name}}/{{cert_name}}" class="button">Upload New</a>
        </div>
    </body>
{% endblock %}
