{% extends "layout.html" %}

{% block title %}
    View {{ table_name }}  
{% endblock %}

{% block content %}
    <body>
        {% for freq, rows in data_tables %}
            <h2>{{ table_name }} {{freq}}</h2>
            <div class='table-container'>
                <table>
                    <thead>
                        <tr>
                            {% for column in rows[0]._fields %}
                                <th>{{ column }}</th>
                            {% endfor %}
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                {% for column in row %}
                                    <td>{{ column }}</td>
                                {% endfor %}
                                <td><a href="{{url_for('view_cert_mec_table', table_name=table_name, cert_name=row[0])}}">MEC Table</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </body>
{% endblock %}